In [46]:
#import the numpy library in conventional form
import numpy as np

In [47]:
#create a 3x3 array of random integers between 3 and 15
data = np.random.randint(3,15,(3,3))

In [48]:
#print the dimensions of data
data.ndim

2

In [49]:
#print the size of array
data.size

9

In [50]:
data

array([[ 3, 11,  8],
       [12, 11, 12],
       [ 5,  6, 11]])

In [51]:
#print the element at 2nd row and 2nd column
print(data[1,1])

11

In [52]:
#print the last row
data[2,:]

array([ 5,  6, 11])

In [53]:
#print the middle column but only up to middle row
data[:2,1]

array([11, 11])

In [54]:
#print the numbers at last 2 rows and last 2 columns only
print(data[1:3,1:3])

[[11 12]
 [ 6 11]]

In [55]:
#reverse content of only last column
data[::-1,2]

array([11, 12,  8])

###  3 Dimensional slicing

In [56]:
data1 = np.random.randint(3,15,(3,3,3))

In [57]:
data1

array([[[14,  8,  3],
        [ 7,  3,  6],
        [ 5,  9,  3]],

       [[ 3,  7,  5],
        [ 8, 14, 14],
        [13,  5,  9]],

       [[ 9, 11, 12],
        [10,  3,  4],
        [ 3,  4, 11]]])

In [58]:
#reverse entire array from dimension to row to column
data1[::-1,::-1,::-1]

array([[[11,  4,  3],
        [ 4,  3, 10],
        [12, 11,  9]],

       [[ 9,  5, 13],
        [14, 14,  8],
        [ 5,  7,  3]],

       [[ 3,  9,  5],
        [ 6,  3,  7],
        [ 3,  8, 14]]])

In [59]:
#print every middle row 
data1[:,1,:]

array([[ 7,  3,  6],
       [ 8, 14, 14],
       [10,  3,  4]])

In [60]:
#print every other dimension with rows reversed
data1[::2,::-1,:]

array([[[ 5,  9,  3],
        [ 7,  3,  6],
        [14,  8,  3]],

       [[ 3,  4, 11],
        [10,  3,  4],
        [ 9, 11, 12]]])

In [61]:
#print every other column reversed
data1[:,:,::-2]

array([[[ 3, 14],
        [ 6,  7],
        [ 3,  5]],

       [[ 5,  3],
        [14,  8],
        [ 9, 13]],

       [[12,  9],
        [ 4, 10],
        [11,  3]]])