In [1]:
#import necessary libraries in conventional format'
#hint: we might need numpy as well!

We would largely focus on dataframes here. To better understand we would use a real-life dataset

In [2]:
#read data that is stores in datasets/black-friday folder

In [3]:
#print shape of dataframe

In [4]:
#view the name os all columns

In [5]:
#Using iloc print the rows from 4 to 40000

In [6]:
#USing iloc print all rows but only 'product_id' column

In [7]:
#print all data from row with columns reversed

In [8]:
#using loc print 3 to 390 rows and Gender to martial_status column

In [9]:
#using slice operator reverse all rows

In [10]:
#print all data where Purchase is greater than 10000

In [11]:
#drop the column User_id and make a new object called new_data

In [12]:
#using groupby form gender groups called grouped

In [13]:
#print mean of each group by using agg function

In [14]:
#using a pivot table summarize purchase as mean  for index as gender and column as occupation

In [15]:
#find if there are any null values in dataset

In [16]:
#fill all null values in Product_Category_2 with 0

In [17]:
#using interpolation fill in the values of Product_Category_3